<h3>当前录入条数：{{ products.length }}</h3>
<form #f="ngForm" (ngSubmit)="submitProducts(f)">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>货号</th>
      <th>品名</th>
      <th>品牌</th>
      <th>单位</th>
      <th>数量</th>
      <th>单价</th>
      <th>金额</th>
      <th>仓库</th>
      <th>季节</th>
      <th>未动天数</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products; let i = index; let isLast = last" >
      <td>
        <div class="input-group">
          <input (keydown.backspace)="deleteProduct($event, isLast)" type="text" class="form-control" [(ngModel)]="products[i].serialNumber" name="product-{{i}}-serialNumber">
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="products[i].name" name="product-{{i}}-name">
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control"  [(ngModel)]="products[i].brand" name="product-{{i}}-brand">
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control"  [(ngModel)]="products[i].unit" name="product-{{i}}-unit">
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control"  [(ngModel)]="products[i].count" name="product-{{i}}-count">
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control"  [(ngModel)]="products[i].price" name="product-{{i}}-price">
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control"  [(ngModel)]="products[i].money" name="product-{{i}}-money">
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control"  [(ngModel)]="products[i].inventory" name="product-{{i}}-inventory">
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="products[i].season" name="product-{{i}}-season">
        </div>
      </td>
      <td (keydown.tab)="addProduct($event, isLast)">
        <div class="input-group">
          <input  type="text" class="form-control"  value="{{products[i].inDate | date: 'yyyy/dd/MM' }}" [(ngModel)]="products[i].inDate" name="product-{{i}}-inDate">
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-md btn-primary btn-block" type="submit">Submit</button>
</form>


