<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">Camille</a>

  <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed"  id="exCollapsingNavbar2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{ outlets: { inventory: ['inventory-input'] } }]">Inventory Input</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{ outlets: { inventory: ['inventory-search'] } }]">Inventory Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet name="inventory"></router-outlet>
