<table class="ui celled table">
  <thead>
  <tr>
    <th>
      <span>货号</span>
    </th>
    <th>
      <span>货号</span>

    </th>
    <th>
      <span>货号</span>
    </th>
  </tr>
  </thead>
  <tbody #tableBody>
  <tr>
    <td>
      <div class="ui fluid transparent input">
        <input type="text" placeholder="请输入货号">
      </div>
    </td>
    <td>
      <div class="ui fluid transparent input">
        <input type="text" placeholder="请输入货号">
    </div>
    </td>
    <td>
      <div class="ui fluid transparent input">
        <input type="text" placeholder="请输入货号">
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr class="center aligned">
    <th colspan="3" class="ui centered" >
      <div class="ui pagination menu">
        <a class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
    </th>
  </tr></tfoot>
</table>
