<div class="ui grid">
  <div class="ui fixed menu navbar page grid">
    <a class="brand item" >Camille</a>
    <a [routerLink]="[{ outlets: { navigation: ['inventory'] } }]" class="active item">库存</a>
    <a [routerLink]="[{ outlets: { navigation: ['input'] } }]" class="item">录入</a>
    <a href="" class="item">Contact</a>
    <a class="ui dropdown item">Dropdown
      <i class="dropdown icon"></i>
      <div class="menu ui transition hidden">
        <div class="item">Action</div>
        <div class="item">Another action</div>
        <div class="item">Something else here</div>
        <div class="ui divider"></div>
        <div class="item">Seperated link</div>
        <div class="item">One more seperated link</div>
      </div>
    </a>
  </div>
</div>

<div class="ui page grid main">
  <div class="row">
    <div class="column padding-reset">
      <router-outlet name="navigation"></router-outlet>
    </div>
  </div>
</div>

