<div class="ui center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img  class="image">
      <div class="content">Sign-in to your account</div>
    </h2>
    <form  class="ui large form"  (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="ui stacked segment">
        <div class="field" [class.error]="!username.valid" >
          <label for="username" class="ui right floated">user name</label>
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input id="username" type="text" required [(ngModel)]="user.username"  name="username" #username="ngModel" placeholder="username" >
          </div>
          <div class="ui pointing red basic label" [class.hidden]="username.valid || username.pristine">
            Please enter a username
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="text" [(ngModel)]="user.password" required name="password" placeholder="password" >
          </div>
        </div>
        <div class="field" [class.error]="user.password != repartpassword">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="text" [(ngModel)]="repartpassword" required name="repartpassword" placeholder="confirm password" >
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="qq icon"></i>
            <input type="text" [(ngModel)]="user.QQ" required name="QQ" placeholder="QQ" >
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="wechat icon"></i>
            <input type="text" [(ngModel)]="user.wechat" required name="wechat" placeholder="wechat" >
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="phone icon"></i>
            <input type="text" [(ngModel)]="user.phone" required name="phone" placeholder="phone" >
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="location icon"></i>
            <input type="text" [(ngModel)]="user.address" required name="address" placeholder="address" >
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>I agree to the Terms and Conditions</label>
          </div>
        </div>
        <button class="ui fluid large teal submit button" type="submit" [disabled]="!heroForm.form.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
